.bg-custom {
    background-color: #FFDA5A;
}

.nav-link {
    color: #376019;
}

.contact-nav {
    margin-left: auto !important;
    margin-right: 50px;
}

#zeeb-logo {
    max-width: 100px;
    margin-left: 100px;
    margin-right: 50px;
}

#facebook-logo {
    max-width: 30px;
    margin-left: auto !important;
    margin-right: 100px;
    top: 11px;
}