.green-text {
    color: #376019;
}

.yellow-text {
    color: #FFDA5A;
}

.background-green {
    background-color: #376019;
    min-height:100%;
}

body, html {
    height: 90%;
}

.nobreak {
    page-break-inside: avoid;
}

.padding-top{
    padding-top: 20%;
}

.big-text {
    font-size: 4vw;
}

.parallax {
    /* The image used */
    background-image: url("zeeb_building.jpg");
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Up arrow*/
@-webkit-keyframes uparrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4
    }

    100% {
        -webkit-transform: translateY(-0.4em);
        opacity: 0.9
    }
}
.arrow {
    border-color: transparent;
    border-style: solid;
    border-width: 0 2em;
    display: block;
    height: 0;
    margin-top: 0;
    padding-top: 30px;
    margin: auto;
    opacity: 0.4;
    text-indent: -9999px;
    transform-origin: 50% 50%;
    width: 0;
}

.up {
    -webkit-animation: uparrow 0.6s infinite alternate ease-in-out;
    border-bottom: 2em solid #FFDA5A;
}